.nav {
    background-color: grey;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-title {
    padding-right: 500px;
    padding-left: 15px;
}

.nav-links {
    padding-left: 250px;
    padding-right: 15px;
}

li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
    margin: 8px;
}

.btn {
    background-color: lightseagreen;
    border: thin solid 1px black;
    box-shadow: 2px 2px;
    margin: 8px;
}