h1 {
    color: white;
    background-color: black;

}

h2 {
    color: white;
    background-color: purple;
    text-align: center;
    font-family: Times;

}

div {
    color: blue;
    text-align: right;
}


